<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8" />
    <title>{{title}}</title>
    <!-- Tell the browser to be responsive to screen width -->
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport" />
    <link href="/static/css/handler/index/index.css" rel="stylesheet" type="text/css" />
    <script src="/static/js/common/jquery.min.js"></script>
    <link rel="icon" type="image/png" href="/static/images/index.icon" />
</head>

<body>
    <div class="backdrop">
        <div id="show">
            <h1>{{content}}</h1>
        </div>
    </div>
</body>

</html>
